:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}
@import url('https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css');

// $cc0: #f5270c;
// $cc1: #fbec5f;
// $cc2: #3D3501;


$vv2: #004752; // Green Shade
// $vv2: #473882; // Purple Shade
// $vv2: #1E592F; // Green
// $vv2: #035663; // Teal
// $vv2: #0040B0; // Blue
// $vv2: #2C13AD; // Idigo
// $vv2: #7800A4; // Pink
// $vv2: #9B015D; // Raspberry
// $vv2: #840606; // Red
// $vv2: #8D2A00; // Mango
// $vv2: #223548	; // Grey

// $vv2: seturate($vv2, 100%);

$vv0: #FFFFFF;
// $vv1: #002c33;
// $vv3: #7DC3CC;
// $vv4: #eaf5f5;

$vv5: $vv2;
$vv3: saturate(mix($vv5, white, 45%), 35%);
$vv3: mix($vv3, #64b4b4, 50%);
$vv1: mix($vv5, black, 55%);

$vv4: saturate(mix($vv5, white, 15%), 5%);
$vv4: mix($vv4, #d7dbdb, 50%);

$main_color: #fff;
$main_color_fade: $vv4;
$sec_color: $vv1;
$sec_color_fade: $vv2;
// $theme_color: #008868;
$theme_light_color: $vv4;
$theme_color: $vv3;
$theme_dark_color: $vv2;
$light_color: #ffffff;


// $main_color: #000;
// $main_color_fade: #1d1d1d;
// $sec_color: #fff;
// $sec_color_fade: #d2d2d2;
// $light_color: $main_color_fade;





$color1: $main_color;
$color2: $sec_color_fade;
// $color2: #e2e2e2;
$color3: $theme_color;
$color4: $sec_color;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  user-select: none;
  background-color: $main_color_fade;
  color: $sec_color_fade;
}
a {
  text-decoration: none;
  color: $sec_color_fade !important;

  &:hover {
    color: $theme_color !important;
    text-decoration: none;
  }
}
.active {
  > a {
    color: $sec_color !important;
  }
}


.red {
  color: red;
}
.purple {
  color: rgb(47, 0, 255);
}
.green {
  color: rgb(0, 195, 0);
}


@import "admin-styles/mixin";

@import "home.scss";
@import "cart.scss";
@import "shipping.scss";
@import "login.scss";
@import "search.scss";

@import "admin-styles/dashboard";
@import "admin-styles/products";
@import "admin-styles/chart";
@import "admin-styles/dashboardapp";
@import "admin-styles/mediaquery";


.hide {
  display: none;
}
.gap-div {
  height: 50px;
}
.radius-50 {
  border-radius: 50px;
}
.btn-theme{
  border-color: $sec_color_fade;
  color: $sec_color_fade;
  background-color: $main_color;
  &:hover {
    color: $main_color !important;
    background-color: $theme_color;
  }
}
.navbar-brand{
  margin: auto;
  color: $main_color !important;
  // border: 2px solid $sec_color_fade;
  background-color: rgba(mix(saturate(mix($theme_dark_color, #fff, 80%),50%), #1a4d4d, 50%), $alpha: 1);
  border-radius: 50px 50px 50px 50px;
  padding: 0px 0 3px 7px;
  font-weight: 700;
  font-size: 0.9rem;

  &:hover{
    color: $main_color_fade !important;
  }

  > span{
    color: $theme_dark_color !important;
    // border: 2px solid $sec_color_fade;
    background-color: rgba($theme_light_color, $alpha: 1);
    border-radius: 50px 50px 50px 50px;
    padding: 4px 7px 7px 7px;
    font-size: 1.1rem;
  }
}
h1, h2, h3, h4 {
    // @include heading(1px);
    margin-top: 2rem;
    color: $sec_color_fade;
}

footer {
  // position: fixed;
  left: 0;
  bottom: 0;
  margin-top: 25vh;
  width: 100%;
  text-align: center;
  align-items: center;
  align-content: center;
  background-color: $main_color;
}
.section-contianer {
  max-width: 1367px;
  width: 100%;
  margin: auto;
  overflow: auto;
  > h1 {
    @include heading;
    margin: 1rem 0;
    text-align: left;
  }
  > div {
    padding: 3rem;
    text-align: center;
    @include container;
    > h4 {
      @include heading;
    }
    > table {
      th {
        padding: 0.5rem;
      }
      td {
        padding: 0.5rem;
      }
    }
  }
}
.table .thead-dark th{
  background-color: $sec_color_fade;
}
.table tbody tr {
  th{
    color: rgba($sec_color_fade, $alpha: 0.61);
  }
  td{
    color: $sec_color_fade;
  }
}

.header {
  @include flex(row, flex-end, stretch, 1.2rem);
  padding: 1rem;
  position: sticky;
  top: 0;
  background-color: $color1;
  box-shadow: 0px 0px 3px $color2;
  a {
    color: $color2;
    letter-spacing: 2px;
    font-size: 1.2rem;

    &:hover {
      color: $color3;
    }
  }

  button {
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    background-color: transparent;
    color: $color2;
    &:hover {
      color: $color3;
    }
  }

  dialog {
    border: 1px solid #ccc;
    background: $color1;
    border-radius: 5px;
    padding: 10px;
    width: 200px;
    position: absolute;
    left: calc(100% - 200px);
    top: 77%;
    > div {
      @include flex(column, flex-start, center, 00.25rem);
    }
  }

}
















.admin-container {
  @include grid(1fr 4fr, 2rem);
  height: 100vh;
  background-color: rgb(247, 247, 247);
  > aside {
    width: 100%;
    background-color: white;
    padding: 1rem;
    z-index: 10;
    overflow-y: auto;
    &::-webkit-scrollbar {
      display: none;
    }

    > div {
      margin: 2rem 1rem;
      > h5 {
        @include heading(2px);
        opacity: 0.8;
        margin: 1rem 0;
      }
      > ul {
        @include flex(column, unset, unset, 0.5rem);
        list-style: none;
        > li {
          padding: 0.5rem 1rem;
          border-radius: 10px;
          a {
            color: rgba(0, 0, 0, 0.825);
            @include flex(row, unset);
          }
        }
      }
    }
  }
}

.table {
  border-collapse: collapse;
  width: 100%;
  th,
  td {
    padding: 8px;
    text-align: left;
    vertical-align: middle;
  }

  th {
    font-weight: bold;
    color: #0000009e;
    font-size: 1.1rem;
    font-weight: 400;
    padding: 2rem 1rem;
  }

  tbody {
    tr {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.093);
    }

    td {
      padding: 1rem;

      img {
        width: 4rem;
        height: 4rem;
        object-fit: contain;
        border-radius: 10px;
      }
      a {
        text-decoration: none;
        background-color: rgba(44, 104, 255, 0.455);
        color: rgba(44, 104, 255);
        padding: 0.25rem 0.5rem;
        border-radius: 10px;
      }
      button {
        width: 2rem;
        height: 2rem;
        font-size: 1.1rem;
        border: none;
        outline: none;
        background-color: transparent;
        cursor: pointer;
        color: rgb(255, 44, 44);
        &:hover {
          opacity: 0.6;
        }
      }

      &:first-child {
        border-left: none;
      }

      &:last-child {
        border-right: none;
      }
    }
  }
}

.table-pagination {
  @include flex;
  padding: 2rem;
  > button {
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgba(0, 115, 255);
    color: white;
    &:disabled {
      background-color: rgba(0, 115, 255, 0.1);
      cursor: not-allowed;
    }
  }
}

#hamburger {
  display: grid;
  place-items: center;
  @include square(3rem);
  border: none;
  outline: none;
  cursor: pointer;
  color: rgba(44, 104, 255);
  position: fixed;
  top: 1rem;
  left: 1rem;
  font-size: 2rem;
  background-color: white;
  border-radius: 50%;
  z-index: 9;
}

#close-sidebar {
  width: 80%;
  margin: 1rem auto;
  display: block;
  padding: 0.75rem;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: rgb(168, 2, 2);
  color: white;
  border-radius: 10px;
}

.loader {
  width: 100%;
  height: 100vh;
  @include flex;
  > div {
    @include square(10rem);
    border-radius: 50%;
    border-top: 1rem solid rgb(43, 43, 43);
    border-left: 1rem solid rgb(43, 43, 43);
    border-right: 1rem solid #fff;
    border-bottom: 1rem solid #fff;
    animation: loading-animation 0.5s linear infinite;
  }
}

@keyframes loading-animation {
  to {
    transform: rotateZ(360deg);
  }
}
@keyframes up-and-down {
  to {
    transform: translate(-50%, -20%);
  }
}
